In [2]:
#Primeiramente, importaremos a biblioteca
import pandas as pd

In [3]:
#URLs para referência
url_clientes = "https://raw.githubusercontent.com/alura-cursos/ia-datascience-dataviz/main/dados/zoop_clientes.csv"

url_vendas = "https://raw.githubusercontent.com/alura-cursos/ia-datascience-dataviz/main/dados/zoop_vendas.csv"

In [5]:
#lendo CSV clientes
clientes = pd.read_csv(url_clientes)

clientes.head()

,ID_compra,ID_cliente,cidade,uf,regiao,idade,sexo_biologico,cashback,avaliacao_compra
0,904,8972,Natal,Rio Grande do Norte,Nordeste,49,Masculino,Não,9
1,4613,5120,São Paulo,São Paulo,Sudeste,49,Feminino,Não,9
2,5579,1847,São Paulo,São Paulo,Sudeste,24,Feminino,Não,8
3,2405,2846,São Paulo,São Paulo,Sudeste,38,Feminino,Sim,7
4,2485,2715,Salvador,Bahia,Nordeste,30,Feminino,Não,10

Entendendo o DataFrame de clites

In [6]:
#lendo CSV vendas
vendas = pd.read_csv(url_vendas)

vendas.head()

,ID_compra,data,horario,categoria,preco_unitario,quantidade,frete,metodo_pagamento
0,6,2023-01-03,20:40,Eletrônicos,4457.9,4,713.26,Boleto
1,5,2023-01-03,21:48,Ferramentas e construção,115.9,1,0.00,PIX
2,9,2023-01-03,17:08,Beleza e cuidados pessoais,68.9,2,13.78,Cartão de Crédito
3,4,2023-01-03,14:29,Ferramentas e construção,80.9,5,40.45,PIX
4,8,2023-01-03,18:02,Beleza e cuidados pessoais,165.0,4,0.00,PIX

In [7]:
# Obtendo informações gerais sobre o DataFrame, como tipos de dados e valores não nulos
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_compra         6169 non-null   int64
 1   ID_cliente        6169 non-null   int64
 2   cidade            6169 non-null   object
 3   uf                6169 non-null   object
 4   regiao            6169 non-null   object
 5   idade             6169 non-null   int64
 6   sexo_biologico    6169 non-null   object
 7   cashback          6169 non-null   object
 8   avaliacao_compra  6169 non-null   int64
dtypes: int64(4), object(5)
memory usage: 433.9+ KB

In [8]:
# Estatísticas descritivas para variáveis numéricas
clientes.describe()

         ID_compra   ID_cliente        idade  avaliacao_compra
count  6169.000000  6169.000000  6169.000000       6169.000000
mean   3085.000000  5461.475280    38.260010          8.443670
std    1780.981237  2610.959977     9.838951          1.730584
min       1.000000  1005.000000    18.000000          0.000000
25%    1543.000000  3148.000000    31.000000          8.000000
50%    3085.000000  5436.000000    38.000000          9.000000
75%    4627.000000  7748.000000    45.000000          9.000000
max    6169.000000  9999.000000    70.000000         10.000000

In [9]:
# Contagem de clientes por sexo
clientes['sexo_biologico'].value_counts()

sexo_biologico
Feminino     3371
Masculino    2798
Name: count, dtype: int64

In [10]:
# Média de idade dos clientes
clientes['idade'].mean()

38.2600097260496

In [11]:
# Contagem de clientes por região
clientes['regiao'].value_counts()

regiao
Sudeste         2666
Nordeste        1882
Sul              819
Centro-Oeste     495
Norte            307
Name: count, dtype: int64

In [ ]:
# Avaliação média das compras
clientes['avaliacao_compra'].mean()

In [12]:
# Verificando a participação no programa de cashback
clientes['cashback'].value_counts()

cashback
Não    3557
Sim    2612
Name: count, dtype: int64

Entendendo o DataFrame de vendas

In [13]:
# Obtendo informações gerais sobre o DataFrame, como tipos de dados e valores não nulos
vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_compra         6169 non-null   int64
 1   data              6169 non-null   object
 2   horario           6169 non-null   object
 3   categoria         6169 non-null   object
 4   preco_unitario    6169 non-null   float64
 5   quantidade        6169 non-null   int64
 6   frete             6169 non-null   float64
 7   metodo_pagamento  6169 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 385.7+ KB

In [14]:
#transformando a deata de object para datetime64
vendas["data"] = pd.to_datetime(vendas["data"], format="%Y-%m-%d")

In [15]:
#verificando as novas informações
vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_compra         6169 non-null   int64
 1   data              6169 non-null   datetime64[ns]
 2   horario           6169 non-null   object
 3   categoria         6169 non-null   object
 4   preco_unitario    6169 non-null   float64
 5   quantidade        6169 non-null   int64
 6   frete             6169 non-null   float64
 7   metodo_pagamento  6169 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 385.7+ KB

In [16]:
# Estatísticas descritivas para variáveis numéricas
vendas.describe()

,ID_compra,data,preco_unitario,quantidade,frete
count,6169.000000,6169,6169.000000,6169.000000,6169.000000
mean,3085.000000,2023-08-20 00:12:22.292105984,873.234738,3.004863,119.233832
min,1.000000,2023-01-03 00:00:00,2.900000,1.000000,0.000000
25%,1543.000000,2023-05-30 00:00:00,44.900000,2.000000,0.320000
50%,3085.000000,2023-08-31 00:00:00,93.900000,3.000000,7.550000
75%,4627.000000,2023-11-23 00:00:00,221.900000,4.000000,29.240000
max,6169.000000,2023-12-31 00:00:00,8000.000000,5.000000,4521.540000
std,1780.981237,NaN,1852.064342,1.420725,366.149225

In [17]:
# Contagem de vendas por categoria de produto
vendas['categoria'].value_counts()

categoria
Alimentos e bebidas           1495
Beleza e cuidados pessoais    1062
Casa e limpeza                1041
Eletrodomésticos               665
Eletrônicos                    580
Papelaria e escritório         551
Ferramentas e construção       474
Livros                         301
Name: count, dtype: int64

In [18]:
# Preço médio unitário dos produtos
vendas['preco_unitario'].mean()

873.2347382071648

In [19]:
# Quantidade total de produtos vendidos
vendas['quantidade'].sum()

18537

In [20]:
# Valor total do frete arrecadado
vendas['frete'].sum()

735553.51

In [21]:
# Métodos de pagamento utilizados e suas frequências
vendas['metodo_pagamento'].value_counts()

metodo_pagamento
Cartão de Crédito    2851
PIX                  2244
Cartão de Débito      547
Boleto                527
Name: count, dtype: int64